/*makes menu flush with sides*/
*{
    padding:0px;
    margin: 0;
}
body, html{
    background-color: rgb(51, 50, 50);
    box-sizing:border-box;
    font-family:sans-serif;
}
#app{
    vertical-align: middle;
}

/*menu styling*/
.menu-bar{
    background: #f1b355;
    text-align:center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color: #FFFFFF;
}
.menu-bar ul li{
    padding: 20px;
    margin: 15px;
    width: 120px;
}
.menu-bar ul li a{
    text-decoration:none;
    color: #FFFFFF;
}
.menu-bar ul li:hover{
    background:#9e7538;
    border-radius: 10px;
}

/*live-data app*/
table.liveTable{
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    border: 2px solid rgb(200, 200, 200);
    vertical-align: middle;
}

.liveTableBody tr:nth-child(odd) {
    background-color: rgb(126, 122, 122);
    padding:4%;
  }
  
  .liveTableBody tr:nth-child(even) {
    background-color: rgb(185, 183, 183);
    padding:4%;
  }

.liveTableHeaderRow{
    color: darkorange;
    font-weight: bold;
    height: 50px;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

table.liveTable tr {height: 25px;}
table.liveTable td {
    height: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
table.liveTable td:hover {background: orangered;}

.changeColor {background: orangered}

/*charts app*/

#grid-container {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align:center;
    
}
.box {
    
	border: 5px solid gray;
	background: white;
    display: inline-block;
	width:40%;
}
/* Packet Visualizer App */
#packCanv {
    padding: 0;
    margin: auto;
    display: block;
    position: relative;
}

/* Toggle Switch -- https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the toggler */

.switch {  
margin: auto;
display: inline-block;
position: relative;
width: 60px;
height: 34px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.toggler {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.toggler:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .toggler {
background-color: #2196F3;
}

input:focus + .toggler {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggler:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.toggler.round {
border-radius: 34px;
}

.toggler.round:before {
border-radius: 50%;
} 

/*slider*/
.slider {
    /* -webkit-appearance: none;  *//*Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  .slider::-webkit-slider-thumb {
    /*-webkit-appearance: none;*/ /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  