/*makes menu flush with sides*/
*{
    padding:0px;
    margin: 0;
}
body, html{
    background-color: rgb(51, 50, 50);
    box-sizing:border-box;
    font-family:sans-serif;
}
#app{
    vertical-align: middle;
}

/*menu styling*/
.menu-bar{
    background: #f1b355;
    text-align:center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color: #FFFFFF;
}
.menu-bar ul li{
    padding: 20px;
    margin: 15px;
    width: 120px;
}
.menu-bar ul li a{
    text-decoration:none;
    color: #FFFFFF;
}
.menu-bar ul li:hover{
    background:#9e7538;
    border-radius: 10px;
}

/*live-data app*/
table.liveTable{
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    border: 2px solid rgb(200, 200, 200);
    vertical-align: middle;
}

.liveTableBody tr:nth-child(odd) {
    background-color: rgb(126, 122, 122);
    padding:4%;
  }
  
  .liveTableBody tr:nth-child(even) {
    background-color: rgb(185, 183, 183);
    padding:4%;
  }

.liveTableHeaderRow{
    color: darkorange;
    font-weight: bold;
    height: 50px;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

table.liveTable tr {height: 25px;}
table.liveTable td {
    height: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
table.liveTable td:hover {background: orangered;}

.changeColor {background: orangered}

/*charts app*/

#grid-container {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align:center;
    
}
.box {
    
	border: 5px solid gray;
	background: white;
    display: inline-block;
	width:40%;
}

/* Packet Visualizer App */
#packCanv {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

