/*makes menu flush with sides*/
*{
    padding:0px;
    margin: 0;
}
body, html{
    background-color: rgb(51, 50, 50);
    box-sizing:border-box;
    font-family:sans-serif;
}

/*menu styling*/
.menu-bar{
    background: #f1b355;
    text-align:center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color: #FFFFFF;
}
.menu-bar ul li{
    padding: 20px;
    margin: 15px;
    width: 120px;
}
.menu-bar ul li a{
    text-decoration:none;
    color: #FFFFFF;
}
.menu-bar ul li:hover{
    background:#9e7538;
    border-radius: 10px;
}

/*live-data app*/
table.liveTable{
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    color: whitesmoke;
}

.liveTableHeaderRow{
    color: darkorange;
    font-weight: bold;
    height: 50px;
}

table.liveTable tr {height: 25px;}
table.liveTable td {height: 25px;}
table.liveTable td:hover {background: orangered;}

/*charts app*/

.grid-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px;
}
.box {
	border: 5px solid gray;
	box-sizing: border-box;
	position: relative;
	width: 40%;
    display: inline-block;
    /* height: 50%;
    */
	/* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
	/* grid-gap: 10px; */
}

/* Packet Visualizer App */
#packCanv {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

