/*makes menu flush with sides*/
*{
    padding:0px;
    margin: 0;
}
body, html{
    background-color: rgb(51, 50, 50);
    box-sizing:border-box;
    font-family:sans-serif;
}

/*menu styling*/
.menu-bar{
    background: #f1b355;
    text-align:center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color: #FFFFFF;
}
.menu-bar ul li{
    padding: 20px;
    margin: 15px;
    width: 120px;
}
.menu-bar ul li a{
    text-decoration:none;
    color: #FFFFFF;
}
.menu-bar ul li:hover{
    background:#9e7538;
    border-radius: 10px;
}

/*live-data app*/
#liveTable{
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    color: whitesmoke;
}

#liveTableHeaderRow{
    color: darkorange;
    font-weight: bold;
    height: 50px;
}

#liveData tr td {height: 25px;}

